<h2>新增會員帳號</h2>
<div>
  <input type="text" class="input" placeholder="錢包ID" [(ngModel)]="inputEnterid"><br />
  <input type="text" class="input" placeholder="會員名稱" [(ngModel)]="inputMembername"><br />
  <input type="text" class="input" placeholder="會員帳號" [(ngModel)]="inputAccount"><br />
  <button class="btn" (click)="newMemberFunc()">確定</button>
  <p>{{newMemberR}}</p>
</div>

<br />

<h2>啟用會員帳號</h2>
<div>
  <input type="text" class="input" placeholder="錢包ID" [(ngModel)]="inputEnteridACT"><br />
  <input type="text" class="input" placeholder="會員帳號" [(ngModel)]="inputAccountACT"><br />
  <button class="btn" (click)="activateMemberFunc()">確定</button>
  <p>{{actMemberR}}</p>
</div>

<br />

<h2>會員帳號允許每次會員間交易的最大值</h2>
<i>eg. A會員每次交易可轉給B會員最大價值為10 若DVOToken價值為5 則每次交易A會員最多可轉2個DVOToken給B會員</i><br /><br />
<div>
  <input type="text" class="input" placeholder="錢包ID" [(ngModel)]="inputApproveenterid"><br />
  <input type="text" class="input" placeholder="你的會員帳號" [(ngModel)]="inputMyaccount"><br />
  <input type="text" class="input" placeholder="他人的會員帳號" [(ngModel)]="inputHisaccount"><br />
  <input type="text" class="input" placeholder="允許移轉的最高價值" [(ngModel)]="inputValue"><br />
  <button class="btn" (click)="approvalMemberFunc()">確定</button>
  <p>{{approvalMemberR}}</p>
</div>